<!-- templates/admin.html -->

{% extends "layout.html" %}
{% block content %}
<br>
<h2>Sanada Lab. server state</h2>
<hr>
<table class="table">
  <thead class="table-dark">
    <tr>
      <td>IP Address</td>
      <td>Status</td>
      <td>RAM usage</td>
      <td>CPU usage</td>
    </tr>
  </thead>
  <tbody>
    {% for s in servers %}
    <tr>
      <td>{{ s['ip_addr'] }}</td>
      <td>{% if s['status'] == 0 %}
        <div class="text-success">Available</div>
          {% elif s['status'] == 1 %}
        <span class="bg-danger text-white">Error</span>
          {% else %}
        <div class="text-muted">Disabled</div>
          {% endif %}
      </td>
      <td>{{ s['ram'] }} %</td>
      <td>{{ s['cpu'] }} %</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
